<style>
  .nav-container{
    margin-inline-end: 500px;
  }
</style>

 <header>
    <nav class="navbar navbar-white  bg-dark">
   <div class="navbar">
    <div class="nav-container">
    <a class="navbar-brand text-white mx-1">Admin panel</a>
    <a href="/admin" class="navbar-brand text-white mx-1 px-1">All products</a>
    <a href="/admin/orders" class="navbar-brand text-white">All orders</a>
    <a href="/admin/all-users" class="navbar-brand text-white mx-1 px-1">All users</a>
    </div>

  </div>
</nav>
</header>